body{
    background-color: rgb(231, 228, 223);
}
header{
    background-color: rgb(232, 243, 243);
    color: brown;
    text-align: center;
}
main{
    margin: 2%;
}
nav{
    text-align: center;
    font-size: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
}

h3{
    background-color: aqua;
}
section{
    width: 20%;
    margin-right: 2%;
    padding: 5px;
    color: rgb(59, 223, 113);
    display: inline-block;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    color: rgb(175, 104, 146);
    text-align: center;
    clear: both;;
}

img{
    width: 15%;
}